page-login {



    @import url(https://fonts.googleapis.com/css?family=Arvo:700);
    @import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

    ion-content{
      background-color: color($colors, primary-pale) !important;


    }

    ion-segment {
      padding-bottom: 15px !important;
    }

    /* .button-md{
      background-color: color($colors, primary) !important;
      } */
      #rounded {
        width: 100%;
        //height: 100px;
        -moz-border-radius: 50px !important;
        -webkit-border-radius: 50px !important;
        border-radius: 10px !important;
        margin-bottom: 5px !important;
    }

    body {
      background-color: #fff;
      //background-color: #ffc107;
    }
    .title {
      width: 100%;
      margin: 10% auto;
    }

    .logo {
        width: 50%;
    }
    .shadow {
      color: color($colors, primary);
      font-family: Arial narrow;
      // text-shadow:
      //   -3px -3px 0 #222,
      //   3px -3px 0 #222,
      //   -3px 3px 0 #222,
      //   3px 3px 0 #222,
      //   4px 4px 0 color($colors, dark),
      //   5px 5px 0 color($colors, dark),
      //   6px 6px 0 color($colors, dark),
      //   7px 7px 0 color($colors, dark);
      line-height: 0.8em;
      letter-spacing: 0.1em;
      transform: scaleY(0.7);
      -webkit-transform: scaleY(0.7);
      -moz-transform: scaleY(0.7);
      margin:0;
      text-align: center;
    }

    .bdm {
      font-size: 6vw;
      font-family: Arial narrow;
      color: color($colors, primary);
    }
    .bam {
      font-size: 18vw;
    }


.bdm_small {
  font-size: 4vw;
  font-family: Arial narrow;
  color: color($colors, dark);
}


    .marginTop {
      margin-top: 30px;
    }

}
