page-login {



    @import url(https://fonts.googleapis.com/css?family=Arvo:700);
    @import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

    ion-content{
      background-color: color($colors, primary-pale) !important;


    }

    ion-segment {
      padding-bottom: 15px !important;
    }

    /* .button-md{
      background-color: color($colors, primary) !important;
      } */
      #rounded {
        width: 100%;
        //height: 100px;
        -moz-border-radius: 50px !important;
        -webkit-border-radius: 50px !important;
        border-radius: 10px !important;
        margin-bottom: 5px !important;
    }

    body {
      background-color: #fff;
      //background-color: #ffc107;
    }
    .title {
      width: 100%;
      margin: 10% auto;
    }

    .logo {
        width: 50%;
    }
    .shadow {
      color: color($colors, primary);
      font-family: Arial narrow;
      // text-shadow:
      //   -3px -3px 0 #222,
      //   3px -3px 0 #222,
      //   -3px 3px 0 #222,
      //   3px 3px 0 #222,
      //   4px 4px 0 color($colors, dark),
      //   5px 5px 0 color($colors, dark),
      //   6px 6px 0 color($colors, dark),
      //   7px 7px 0 color($colors, dark);
      line-height: 0.8em;
      letter-spacing: 0.1em;
      transform: scaleY(0.7);
      -webkit-transform: scaleY(0.7);
      -moz-transform: scaleY(0.7);
      margin:0;
      text-align: center;
    }

    .bdm {
      font-size: 8vw;
      font-family: Arial narrow;
      color: color($colors, primary);
    }
    .bam {
      font-size: 12vw;
    }


.bdm_small {
  font-size: 4vw;
  font-family: Arial narrow;
  color: color($colors, dark);
  text-align: center;
  margin-top: 50%;
}


    .marginTop {
      margin-top: 30px;
    }


#consentMain{
  align-items: center;
  height: 20vw;
}

    #checkboxDiv {
        width: 15%;
        height: 100%;
        display: inline-block;
    }

    #consentTextDiv{
      width: 75%;
      display: inline-block;
      height: 100%;
      margin-left: 6%;
      text-align: left;
    }

    .scroll-content {
        padding-top: 20% !important;
    }





    *,*:before,*:after{
    box-sizing:border-box;
    margin:0;
    padding:0;
    /*transition*/
    -webkit-transition:.25s ease-in-out;
       -moz-transition:.25s ease-in-out;
         -o-transition:.25s ease-in-out;
            transition:.25s ease-in-out;
    outline:none;
    font-family:Helvetica Neue,helvetica,arial,verdana,sans-serif;
    }


    h1{
    margin:75px auto 0 auto;
    text-align:center;
    font-weight:200;
    color:#4b4b4b;
    }
    #toggles{
    width:60px;
    margin:50px auto;
    text-align:center;
    }
    .ios-toggle,.ios-toggle:active{
    position:absolute;
    top:-5000px;
    height:0;
    width:0;
    opacity:0;
    border:none;
    outline:none;
    }
    .checkbox-label{
    display:block;
    position:relative;
    padding:10px;
    margin-bottom:20px;
    font-size:12px;
    line-height:16px;
    width:12vw;
    height: 6vw;
    /*border-radius*/
    -webkit-border-radius:18px;
       -moz-border-radius:18px;
            border-radius:18px;
    background:#f8f8f8;
    cursor:pointer;
    }
    .checkbox-label:before{
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    line-height:34px;
    text-indent:40px;
    height: 6vw;
    width: 6vw;
    /*border-radius*/
    -webkit-border-radius:100%;
       -moz-border-radius:100%;
            border-radius:100%;
    top:0px;
    left:0px;
    right:auto;
    background:white;
    /*box-shadow*/
    -webkit-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
       -moz-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
            box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
    }
    .checkbox-label:after{
    content:attr(data-off);
    display:block;
    position:absolute;
    z-index:0;
    top:0;
    left:-300px;
    padding:10px;
    height:100%;
    width:300px;
    margin-left: -50%;
    color:#bfbfbf;
    white-space:nowrap;
    }
    .ios-toggle:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
       -moz-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
            box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    }
    .ios-toggle:checked + .checkbox-label:before{
    left:calc(100% - 36px);
    /*box-shadow*/
    -webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
       -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
            box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
    }
    .ios-toggle:checked + .checkbox-label:after{
    content:attr(data-on);
    left:60px;
    width:36px;
    }

    /* RED CHECKBOX */

    #checkbox2 + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 0px color($colors, primary),0 0 0 2px #dddddd;
       -moz-box-shadow:inset 0 0 0 0px color($colors, primary),0 0 0 2px #dddddd;
            box-shadow:inset 0 0 0 0px color($colors, primary),0 0 0 2px #dddddd;
    }
    #checkbox2:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 20px color($colors, primary),0 0 0 2px color($colors, primary);
       -moz-box-shadow:inset 0 0 0 20px color($colors, primary),0 0 0 2px color($colors, primary);
            box-shadow:inset 0 0 0 20px color($colors, primary),0 0 0 2px color($colors, primary);
    }
    #checkbox2:checked + .checkbox-label:after{
    color:color($colors, primary);
    }








}
