page-report {


ion-label {
      white-space: normal !important;
      font-family: arial narrow !important;
  }

.titleStyle{
        font-family: arial narrow !important;
        font-size: 4.3vw;
        color: #486fb5 !important;
        font-weight: 600;
        text-align: center;
}


.label-md {
    margin: 13px 8px 0px 0 !important;
    color: #777777 !important;
}

.range-md.range-has-pin {
  padding-top: 0px !important;
}


}
