page-cognic-test {


.cognicTitle {
  width: 30%;
  float:right;

}

.item-ios {

  background-color: color($colors, primary-pale) !important;
}


.card-title-md {
  text-align: center !important;
  font-size: 2rem !important;
}

}
