page-time {
  .toolbar-title-md {
    color: color($colors, primary) !important;
    padding-right: 10vw;
    text-align: right;
  }

  .done{
    background: #17d6bb6b;
    font-style: italic;
    color: #a0a0a0f2;
  }

  .active{
    background: color($colors, primary);
    color: black;
  }

  .missed{
    background: #e0e0e06b;
    font-style: italic;
    color: #a0a0a0f2;
  }


  .disabled{
    background: #e0e0e06b;
    font-style: italic;
    color: black;
  }



.ion-md-close-circle {
  color:red !important;
}





}
