page-time {
  .toolbar-title-md {
    color: color($colors, primary) !important;
  }

  .done{
    background: #47c35c;
  }

  .active{
    background: #673ab7;
  }

  .missed{
    background: #e07272;
  }


  .disabled{
    background: #cbcbd6;
  }



}
