page-cognig {
  .toolbar-title-md {
  color: color($colors, primary) !important;
  }


.toolbar-title-md, .toolbar-title-ios {
      padding-right: 10vw;
      text-align: right;
  }




.statusBar{
  width: 10vw;
  height: 3vw;
  display: inline-block;
  border-style: outset;
  border-radius: 12px;

}

.notStarted{
  background-color: #e0e0e06b;
}

.completed{
  background-color: color($colors, primary) !important;
}





.card-content-md, .card-content-ios {
    padding: 5px 16px !important;

}

.card-title-md, .card-title-ios,  {
    text-align: center;
    font-size: 1.8rem;
}








}
