page-cognig {
  .toolbar-title-md {
  color: color($colors, primary) !important;
  }


.toolbar-title-md {
      padding-right: 10vw;
      text-align: right;
  }

  ion-card-title{
    text-align: center;
    font-weight: bold !important;
    font-size: 5.5 vw !important;
  }


}
