<!--
  Generated template for the CognigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

        <ion-card color="primary-light" class="titleStyle"
        (click)="showCognicTest($event, item)"
        *ngFor="let item of cognigList">
            <ion-card-title>

            {{item.cognicTitle}}
            </ion-card-title>

            <ion-card-content>

              <div class="statusBar statusCognic notStarted"
              [ngClass]="{'completed': barItem.resStatus == '1' }"
              *ngFor="let barItem of item.queryList"></div>
              
            </ion-card-content>

          </ion-card>

        <!-- <ion-item *ngFor="let item of cognigList">
          <ion-label>1 {{item.id}} {{item.queryText}}</ion-label>
        </ion-item> -->







  <form (ngSubmit)="submitData()">

    <button ion-button block color="secundary" class="marginTop">Skicka</button>

</form>


</ion-content>
