page-reportdetails {



        .site {
        /*background: -webkit-gradient(linear, left top, left bottom, from(#4eb5e5), to(#389ed5));
        background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%);*/
        border: none;
        border-style: groove;
        border-radius: 5px;
        position: relative;
        border-bottom: 4px solid #85898c;
        color: #fbfbfb;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        font-size: 18px;
        -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        display: inline-block;
        /*margin-right: 1%;*/
        padding-top: 1vw;
        }

        .not_selected{
          background: #a7a2a2;
        }

        .selected{
          background: color($colors, primary);
        }

        .site:active {
          box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
          top: 1px;
        }



  .additem{

      padding-left: 16px;
      padding-right: 0;
      position: relative;
      font-size: 2.0rem;
      font-weight: normal;
      text-transform: none;
      color: #000;
      background-color: #fff;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);

      margin: 0;
          padding: 0;
          text-align: initial;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          overflow: hidden;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          width: 100%;
          min-height: 4.4rem;
          border: 0;
          font-weight: normal;
          line-height: normal;
          text-decoration: none;

              contain: content;



  }




[text-wrap] .label-md {
    font-size: 2.0rem;
    line-height: 1.5;
}

.queryLabel {
  color: black !important;
}


.helperIcon{
  width: 10%;
  display: inline-block;
  float:right;
  height: 10%;

}


// .help {
//   float: right;
//   border-width: 2px;
//   border-style: outset;
//   border-radius: 50%;
//   padding: 2%;
//   margin-right: 4%;
//   background-color: #cedae6;
//   font-size: 4vw;
//   font-weight: bold;
// }




}
